.example-spacer {
  flex: 1 1 auto;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  background-color: rgb(72, 86, 112);
}

.mat-icon-button{
  margin-left: 1rem;
  // background-color: aliceblue;
}
.mat-icon {
  color:aliceblue;
  size: 2rem;
}