
 <mat-card> 
   <mat-card-header> 
         <mat-card-title> {{ publicacion }} </mat-card-title> 
         <!-- <mat-card-subtitle> {{ heroe.alter_ego }} </mat-card-subtitle>  -->
     </mat-card-header> 

    <img mat-card-image src="https://cdn.baquianos.com/img/blog/2019/13/san-gil-i6yx640.jpg">

   <mat-card-content> 
        <h3>TEXTO</h3> 
        <!-- <p>
            <strong>Primera aparición</strong> {{ heroe.first_appearance }}
            <br>
            <strong> Personajes: </strong> {{ heroe.characters }}
        </p>  -->
     </mat-card-content> 

     <mat-card-actions> 
        - <button mat-button 
                color="warn"
                >
            Leer más...
        </button> 

        <button mat-button 
                color="info"
    >
            Editar
        </button> 
    </mat-card-actions>

</mat-card>
