<div class="content">
    <mat-card>
      <div class="content">
        <h1>Editar publicacion</h1>
      </div>
      <form [formGroup]="form">
        <div class="column">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="Titulo" formControlName="titulo">
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="Descripcion" formControlName="description"></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Municipio</mat-label>
            <mat-select formControlName="municipio">
              <mat-option *ngFor="let municipio of municipios" [value]="municipio.id">
                {{municipio.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input class="ng-hide mb-3" id="input-file-id" multiple type="file" />
        </div>
        <div class="row">
          <button mat-raised-button class="crearBTN" (click)="crear()">Editar</button>
        </div>
      </form>
    </mat-card>
  </div>
  
  